# Auto detect text files and perform LF normalization
* text=auto
*.cs text
*.meta text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.anim text eol=lf
*.controller text eol=lf
